.services {
  background: @blue;
  height: 400px;
  width: 100%;
  display: flex;
  min-width: 1200px;

  .wrapper {
    display: flex;
    flex-flow: row wrap;
<<<<<<< HEAD
    justify-content: space-between;
=======
    justify-content: flex-start;
>>>>>>> eb881b3... services almost done
    align-items: center;
  }

  &__title {
<<<<<<< HEAD
    padding-top: 60px;
=======
    padding-top: 30px;
>>>>>>> eb881b3... services almost done
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 28px;
    color: @white;
  }
}

.services-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  &__item {
<<<<<<< HEAD
    width: 300px;
=======
    padding: 20px;
    &:not(:last-child) {
      margin-right: 100px;
    }

>>>>>>> eb881b3... services almost done
    img {
//      padding: 5px 15px;
        display: inline-block;
    }
  }
}

.services-stitles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  color: @white;

  &__item {
<<<<<<< HEAD
    width: 300px;
  //   &:not(:last-child) {
  //     margin-right: 209px;
  //  }
=======
    &:not(:last-child) {
      margin-right: 209px;
    }
>>>>>>> eb881b3... services almost done

    a {
        text-transform: uppercase;
        font-weight: bold;
<<<<<<< HEAD
        padding: 13px 0;
=======
        padding: 10px 0;
>>>>>>> eb881b3... services almost done
        display: inline-block;
    }
  }
}

.services-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: @white;
  font-size: 12px;
<<<<<<< HEAD
  padding-bottom: 50px;

  &__item {
    width: 300px;
    padding-right: 30px;
    a {
    //    padding : 10px 0;
=======

  &__item {
    &:not(:first-child) {
      margin-right: 10px;
    }

    a {
        padding : 10px 0;
>>>>>>> eb881b3... services almost done
        font-weight: lighter;
        display: inline-block;
    }
  }
}
