services.services
  .wrapper
  
    .services__title
      |SERVICES
      
    .services__img.services-img
    
      .services-img__item
        img(src="./images/coffee.png")
        
      .services-img__item
        img(src="./images/instant.png")
      
      .services-img__item
        img(src="./images/serious.png")
    
      .services-img__item
        img(src="./images/frame.png")
    
    .services__stitles.services-stitles
        
      .services-stitles__item
        a
          |COFFEE
          
      .services-stitles__item
        a
          |INSTANT
          
      .services-stitles__item
        a
          |SERIOUS
          
      .services-stitles__item
        a
          |FRAME
          
      .services__text.services-text
              
        .services-text__item      
        a
          |Apple pie icing sweet. Brownie jelly-o applicake applicake sweer roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
        .services-text__item      
        a
          |Apple pie icing sweet. Brownie jelly-o applicake applicake sweer roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
        .services-text__item      
        a
          |Apple pie icing sweet. Brownie jelly-o applicake applicake sweer roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
        .services-text__item      
        a
          |Apple pie icing sweet. Brownie jelly-o applicake applicake sweer roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
