test.test
  .wrapper
  
    .test__title
      |TESTIMONIALS
        
    .test__img.test-img
      .test-img__item
        img(src="./images/as.png")  
  
    .test__text.test-text
      .test-text__item     
        a
          |Applicake chocolate cake wafer toffee pie souffle wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie souffle sweet roll sweet roll jelly-o.
        span
          |-Walter White
