.head
  div
    .carousel
      .carousel-wrapper
        .carousel-button-left
          a(href='#')
        .carousel-button-right
          a(href='#')
        .carousel-items
          .carousel-block
            img(src='/images/background-head.jpg', alt='')
          .carousel-block
            img(src='/images/background-head1.jpg', alt='')
          .carousel-block
            img(src='/images/background-head2.jpg', alt='')
          .carousel-block
            img(src='/images/background-head3.jpg', alt='')
          .carousel-block
            img(src='/images/background-head4.jpg', alt='')
          .carousel-block
            img(src='/images/background-head5.jpg', alt='')
          .carousel-block
            img(src='/images/background-head6.jpg', alt='')
          .carousel-block 
            img(src='/images/background-head7.jpg', alt='')
          .carousel-block
            img(src='/images/background-head8.jpg', alt='')

        .carousel-title
          .title-wrapper
            span
              |"I'm looking for the unexpected.
            br
            span  
              |I'm looking for things I've never seen before."
