portfolio.portfolio
  .wrapper
<<<<<<< HEAD
  
=======
>>>>>>> 7a6ffef... starting portfolio
    .portfolio__title
      |PORTFOLIO
      
    .portfolio__nav.portfolio-nav
    
      .portfolio-nav__item._active
        a(href="#")
          |ALL
      .portfolio-nav__item
        a(href="#")
          |PANORAMAS
      .portfolio-nav__item
        a(href="#")
          |PORTRAITS
      .portfolio-nav__item
        a(href="#")
          |MACRO 
      .portfolio-nav__item
        a(href="#")
          |JOURNAL
<<<<<<< HEAD
          
    .portfolio__img.portfolio-img
    
      .portfolio-img__item
        img(src="./images/portf1.jpg")
        
      .portfolio-img__item
        img(src="./images/portf2.jpg")
      
      .portfolio-img__item
        img(src="./images/portf3.jpg")
    
      .portfolio-img__item
        img(src="./images/portf4.jpg")
        
      .portfolio-img__item
        img(src="./images/portf5.jpg")
        
      .portfolio-img__item
        img(src="./images/portf6.jpg")
        
      .portfolio-img__item
        img(src="./images/portf7.jpg")
        
      .portfolio-img__item
        img(src="./images/portf8.jpg")
=======
    //-       
    //- .services__img.services-img
    //- 
    //-   .services-img__item
    //-     img(src="./images/coffee.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/instant.png")
    //-   
    //-   .services-img__item
    //-     img(src="./images/serious.png")
    //- 
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
>>>>>>> 7a6ffef... starting portfolio
