portfolio.portfolio
  .wrapper
  
    .portfolio__title
      |PORTFOLIO
      
    .portfolio__nav.portfolio-nav
    
      .portfolio-nav__item._active
        a(href="#")
          |ALL
      .portfolio-nav__item
        a(href="#")
          |PANORAMAS
      .portfolio-nav__item
        a(href="#")
          |PORTRAITS
      .portfolio-nav__item
        a(href="#")
          |MACRO 
      .portfolio-nav__item
        a(href="#")
          |JOURNAL
          
    .portfolio__img.portfolio-img
    
      .portfolio-img__item
        img(src="./images/portf1.jpg")
        
      .portfolio-img__item
        img(src="./images/portf2.jpg")
      
      .portfolio-img__item
        img(src="./images/portf3.jpg")
    
      .portfolio-img__item
        img(src="./images/portf4.jpg")
        
      .portfolio-img__item
        img(src="./images/portf5.jpg")
        
      .portfolio-img__item
        img(src="./images/portf6.jpg")
        
      .portfolio-img__item
        img(src="./images/portf7.jpg")
        
      .portfolio-img__item
        img(src="./images/portf8.jpg")
