portfolio.portfolio
  .wrapper
    .portfolio__title
      |PORTFOLIO
      
    .portfolio__nav.portfolio-nav
    
      .portfolio-nav__item._active
        a(href="#")
          |ALL
      .portfolio-nav__item
        a(href="#")
          |PANORAMAS
      .portfolio-nav__item
        a(href="#")
          |PORTRAITS
      .portfolio-nav__item
        a(href="#")
          |MACRO 
      .portfolio-nav__item
        a(href="#")
          |JOURNAL
    //-       
    //- .services__img.services-img
    //- 
    //-   .services-img__item
    //-     img(src="./images/coffee.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/instant.png")
    //-   
    //-   .services-img__item
    //-     img(src="./images/serious.png")
    //- 
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
    //-     
    //-   .services-img__item
    //-     img(src="./images/frame.png")
