just.just
  .wrapper
  
    .just__title
      |JUST DEFAULT SECTION
          
    .just__text.just-text
      .just-text__item      
        span
          |Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Souffle cotton candy dessert candy ice cream wafer gummis cheesecake brownie.
        br
        span
          |Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
          
    .just__link.just-link
      .just-link__item
        a(href="#")
          |VISIT ME
    
    .just__video.just-video
      .just-video__item
        video(width='560', height='310', controls='controls', poster='video/duel.jpg')
          source(src='movie.mp4', type='video/mp4')
