@import (once, inline) "tools/normalize.css";
@import (reference) "tools/settings.less";
@import (once, inline) "tools/fonts.css";

@import (once, less) "../components/Header/header.less";

body {
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
=======
  font:10px Arial, Helvetica, sans-serif;
}

.wrapper{
>>>>>>> 6a158e69012be1c3d7248989513ebb44763f2117
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
}

* {
  box-sizing: border-box;
<<<<<<< HEAD
=======

>>>>>>> 6a158e69012be1c3d7248989513ebb44763f2117
}

a {
  outline: none !important;
}
