contact.contact
  .wrapper
  
    .contact__title
      |CONTACT
    
    .container1 
      .container1__0
        .contact__1    
          span
            |FULL NAME
        .contact__form1
          form(action='https://', method='post')
            input(type='text', name='full_name')
                
      .contact__text1     
        a
          |Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Swet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
      
      .container2__0        
        .contact__2
          span
            |EMAIL
        .contact__form2
          form(action='https://', method='post')
            input(type='text', name='email')
            
      .contact__text2     
        a
          |Linda Newman
        br
        a
          |W325 State Road 123
        br
        a
          |Mondovi, WI(Wisconsin) 98746-54321
        br
        a
          |(715) 946 - 1234
    
    .container2      
      .contact__3
        span
          |MESSAGE
      .contact__form3
        form(action='https://', method='post')
          textarea(name='message', rows='10', cols='124')
      
      .contact__form4
        form(action='https://', method='post')
          input(type='submit', value='Message')
