header.header
  .wrapper
    .header__logo
      img(src="./images/logo.png")
      
    .header__nav.header-nav
    
      .header-nav__item._active
        a(href="#")
          |HOME
      .header-nav__item
        a(href="#")
          |SERVICES
      .header-nav__item
        a(href="#")
          |FEATURES
      .header-nav__item
        a(href="#")
          |PORTFOLIO  
      .header-nav__item
        a(href="#")
          |CONTACT
