body  {
  padding: 40px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*.logo {
  width: 300px;
}*/

header {

  height: 150px;
  background: @black;

  /*.navigation {
    font-size: 12px;
  }*/
  }





/*.my-flex-container{
  display: flex;}

  высота 150*/
