footer.footer
  .wrapper
      
    .footer__nav.footer-nav
    
      .footer-nav__item
        a(href="#")
          |HOME
        span
          ||
      .footer-nav__item
        a(href="#")
          |SERVICES
        span
          ||
      .footer-nav__item
        a(href="#")
          |PORTFOLIO
        span
          ||
      .footer-nav__item
        a(href="#")
          |CONTACT
          
    .footer__cop
      span
        |2013 ©
