twitter.twitter
  .wrapper
  
    .twitter__title
      |TWITTER
        
    .twitter__img.twitter-img
      .twitter-img__item
        img(src="./images/icon-twitter.png")  
  
    .twitter__text.twitter-text
      .twitter-text__item     
        a
          |Unerdwear coolie liquorice. Cake donut cupcake lollipop souffle candy. Chocolate oat cake 
          b @cheesecake
          |  tootsie roll.
          
