whois.whois
  .wrapper
  
    .whois__title
      |WHO IS JOHN DOE?
        
    .whois__text.whois-text
      .whois-text__item     
        span
          |Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Souffle cotton candy dessert candy ice cream wafer gummis cheesecake brownie.
        br
        span
          |Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame snaps sugar plum cotton candy chocolate bonbon lemon drops candy canes cotton candy. Cale toffee pie bear claw pastry.
        br
        span
          |Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.  
          
      .whois__img.whois-img
        .whois-img__item
          img(src="./images/icon-twitter2.png")  
        
        .whois-img__item
          img(src="./images/icon-google.png")  
      
        .whois-img__item
          img(src="./images/icon-1.png")  
      
        .whois-img__item
          img(src="./images/icon-coffee.png")  
        
